In [3]:
print("Hello, World")

Hello, World

In [3]:
print(c)

NameError: name 'c' is not defined

In [4]:
print('c')

c

In [5]:
print(파이썬 신난다.)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3326653794.py, line 1)

In [6]:
print('파이썬 신난다')

파이썬 신난다

In [8]:
a=123
print(type(a))
a

<class 'int'>

123

In [9]:
a

123

In [10]:
a=4.24e-2
print(type(a))
a

<class 'float'>

0.0424

In [11]:
a=4.24e2
print(type(a))
a

<class 'float'>

424.0

In [12]:
a=3
b=4.2
c=a+b
print(type(c))
print(type(a), type(b))

<class 'float'>
<class 'int'> <class 'float'>

In [13]:
a=3
b=5

In [ ]:
a**b
#제곱연산자

'제곱연산자'

In [ ]:
#몪연산자
7//4

1

In [ ]:
#이건 나눗셈
7/4

1.75

In [19]:
text1="Life is too short, You nedd Python"
text2="a"
text3="123"

In [20]:
type(text1)

str

In [21]:
""" Life is too short, You need python"""

' Life is too short, You need python'

In [22]:
'''Life is too short, You nedd python'''

'Life is too short, You nedd python'

In [23]:
food = 'Python's favorite food is perl'
food

SyntaxError: unterminated string literal (detected at line 1) (2716953454.py, line 1)

In [24]:
food = 'Python\'S favorite food is perl'
food

"Python'S favorite food is perl"

In [29]:
say = "\"python is very easy.\" he says"
say

'"python is very easy." he says'

In [ ]:
# escape code
multiline = "life is too short \nyou need python"
print(multiline)

life is too short
you need python

In [ ]:
# 줄바꿈을 할때 \n을 사용하거나 """ 또는 '''로 할 수 있다.
multiline = '''life is too short
you need python'''
print (multiline)

life is too short
you need python

In [36]:
print('-'*5,'iNFO', '-'*5)

----- iNFO -----

In [37]:
a="life is too short"
len(a)

17

In [38]:
a="life is too short you need python"

In [39]:
a[1]

'i'

In [40]:
a[0]

'l'

In [46]:
a[34-3]

'o'

In [48]:
a[len(a)-1]

'n'

In [49]:
a

'life is too short you need python'

In [50]:
a[0]+a[1]

'li'

In [ ]:
#인덱싱 : 0번부터 4전까지. 0일때는 생략도 가능하기 (동일하게 끝일 경우에도 생략가능하다 a[28:])
a[0:4]
a[:4]

'life'

In [54]:
#슬라이싱
a="20010331rainy"

In [55]:
#슬라이싱 해서 각각에 넣어두는 경우
date = a[:8]
weather=a[8:]
print(date)
print(weather)

20010331
rainy

In [56]:
s = 'abCdeFg'
s.upper()

'ABCDEFG'

In [57]:
s.lower()

'abcdefg'

In [ ]:
s = "It's always such a pleasure"

7

In [59]:
s.find('way')

7

In [61]:
s.find('the')

-1

In [64]:
s.find('It')

0

In [ ]:
'''
count : 부분 문자열의 발생 횟수를 알려준다 s.count('we')
s.replace('-'. '') 새로운 문자열로 교체
s.strip() : 좌우 공백을 제거
s.rstrip() : r오른쪽만 제거 / l 왼쪽만 제거

s.split() : 이렇게 하면 기본적으로 공백을 기준으로 자르게 된다
'''